$deepblue: #0B1C3A;
$transparentDeepBlue: #0b1c3ab7;

$white: #FFFFFF;
$ogreen: #007A7A;
$turquoise: #007A7A;
$lightBlue: #DEE3EB;
$grayText: #c5c5c5;
$gray: #999999;
$darkerGray: #575757;
$evenDarkerGray: #292929;

$AfacadFont: ""Afacad", sans-serif";

$greendetail: #014646;
$greentext: #073F3F;
