@import url("https://fonts.googleapis.com/css2?family=Afacad:ital,wght@0,400..700;1,400..700&display=swap");
body {
  margin: 0;
}
body header {
  background-color: #FFFFFF;
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 9999;
  height: 7vh;
  background-color: #FFFFFF;
  width: 100%;
}
body header .topHeader {
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
  min-height: 65px;
}
body header .topHeader .hamburgerMenu {
  top: 1%;
  width: 50px;
  position: relative;
  z-index: 2;
}
body header .topHeader img:first-of-type {
  max-width: 190px;
  height: auto;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  cursor: pointer;
}
body header .topHeader img:last-of-type {
  width: 50px;
  height: 50px;
  -o-object-fit: cover;
     object-fit: cover;
  flex: none;
  width: 50px;
  margin-left: auto;
  position: relative;
  z-index: 2;
  cursor: pointer;
}
body header .detail {
  background-color: #014646;
  height: 5px;
  width: 100%;
}
body header .infoBar {
  background-color: #007A7A;
  transition: transform 0.3s ease, opacity 0.3s ease;
  transform: translateY(0);
  opacity: 1;
  z-index: 2;
}
body header .infoBar h2 {
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  color: #073F3F;
  margin: 0;
  height: 64px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
}
body header .infoBar.hidden {
  transform: translateY(-20px);
  opacity: 0;
  pointer-events: none;
}

.TEMPspacer {
  height: 300px;
}

.mainRentSection {
  position: relative;
  height: auto;
  width: auto;
  aspect-ratio: 1/1.143;
  background-image: url("/bilder2/2carsmainPHONE.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.mainRentSection .rentWindow {
  position: absolute;
  inset: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.692);
  width: 70vw;
  height: 33vh;
  margin: auto;
  border-radius: 20px;
  top: -18vh;
}
.mainRentSection .rentWindow nav:first-child {
  margin-top: 10px;
}
.mainRentSection .rentWindow nav {
  background-color: rgba(255, 255, 255, 0);
  width: 90%;
  height: auto;
  margin-top: 0px;
  padding: 0px;
  display: flex;
  flex-direction: column;
  gap: 0px;
}
.mainRentSection .rentWindow nav p {
  background-color: rgba(255, 255, 255, 0);
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
  color: #292929;
  font-weight: bold;
  font-size: 1.3rem;
  margin: 2px;
}
.mainRentSection .rentWindow nav .titleImgSpacer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mainRentSection .rentWindow nav img {
  height: 30px;
  width: 30px;
}
.mainRentSection .rentWindow nav input {
  background-color: rgb(255, 255, 255);
  border: none;
  outline: none;
  background: transparent;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  font-weight: bold;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
  font-size: 1.15rem;
}
.mainRentSection .rentWindow .seperateSpan {
  background-color: rgb(107, 107, 107);
  width: 100%;
  height: 2px;
  margin-top: 4px;
}
.mainRentSection .rentWindow .searchButton {
  background-color: #007A7A;
  height: 7.5vh;
  width: 99%;
  margin-bottom: 2px;
  border-radius: 0px 0px 20px 20px;
  border: none;
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  font-size: 2rem;
  color: #FFFFFF;
  text-decoration: none;
}

@media all and (min-width: 600px) {
  .mainRentSection {
    position: relative;
    height: 85vh;
    width: 100%;
    background-image: url("/bilder/largeScreenCarsMain5JPEG.jpg");
  }
  .mainRentSection .rentWindow {
    position: absolute;
    inset: 0;
    display: grid;
    grid-template-columns: 1fr 2px 1fr 2px 1fr 1fr 2px;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.692);
    width: 70vw;
    height: 10vh;
    margin: auto;
    border-radius: 20px;
    top: -40vh;
  }
  .mainRentSection .rentWindow nav:first-child {
    margin-left: 16px;
  }
  .mainRentSection .rentWindow nav {
    background-color: rgba(255, 255, 255, 0);
    width: 90%;
    height: auto;
    margin: 5px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .mainRentSection .rentWindow nav p {
    background-color: rgba(255, 255, 255, 0);
    color: #292929;
    font-size: 1.3rem;
    margin: 2px;
  }
  .mainRentSection .rentWindow nav .inputImgSpacer {
    display: flex;
    justify-content: space-between;
  }
  .mainRentSection .rentWindow nav .inputImgSpacer input {
    background-color: rgb(255, 255, 255);
    border: none;
    outline: none;
    background: transparent;
    box-shadow: none;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    font-weight: bold;
    font-size: 1.15rem;
  }
  .mainRentSection .rentWindow nav .inputImgSpacer img {
    height: 30px;
    width: 30px;
  }
  .mainRentSection .rentWindow .seperateSpan {
    background-color: rgb(187, 187, 187);
    width: 2px;
    height: 100%;
    margin-bottom: 3px;
  }
  .mainRentSection .rentWindow .seperateSpan2 {
    background-color: rgb(187, 187, 187);
    width: 2px;
    height: 100%;
  }
  .mainRentSection .rentWindow .searchButton {
    background-color: #007A7A;
    height: 96%;
    width: 100%;
    margin-right: 2px;
    margin-top: 2px;
    border-radius: 0px 20px 20px 0px;
    border: none;
  }
}
.trustpilotSection {
  background-color: #DEE3EB;
  padding-bottom: 20px;
}
.trustpilotSection h2,
.trustpilotSection .rating h3,
.trustpilotSection .logoTitle .trustpilotName {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}
.trustpilotSection .gridContainer {
  display: grid;
  grid-template-columns: 1fr auto;
  grid-template-rows: 7vh 5vh;
  grid-template-areas: "title logo" "rating rating";
  -moz-column-gap: 20px;
       column-gap: 20px;
  row-gap: 0px;
  align-items: center;
}
.trustpilotSection h2 {
  grid-area: title;
  margin: 5px 0px 0px 20px;
  font-size: 24px;
  line-height: 28px;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  /* FONT*/
}
.trustpilotSection .rating {
  grid-area: rating;
  display: flex;
  align-items: center;
  gap: 8px;
  margin-left: 20px;
  margin-bottom: 1vh;
}
.trustpilotSection .rating h3 {
  font-size: 1.2rem;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
}
.trustpilotSection .logoTitle {
  grid-area: logo;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
  margin-right: 2vw;
  background-color: white;
  border-radius: 18px;
  padding: 0px 12px;
  font-size: 0.9rem;
  height: 5.5vh;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-top: 5%;
}
.trustpilotSection .logoTitle img {
  height: 3vh;
}
.trustpilotSection .logoTitle .trustpilotName {
  font-size: 1.1rem;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
}
.trustpilotSection .reviewSection .reviewAnimation {
  display: flex;
  gap: 3px;
}
.trustpilotSection .reviewSection {
  display: flex;
  gap: 5px;
  margin: auto 7px;
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scrollbar-width: none;
}
.trustpilotSection .reviewSection::-webkit-scrollbar {
  display: none;
}
.trustpilotSection .reviewSection .duplicate {
  display: none;
}
.trustpilotSection .reviewSection .reviewContainer {
  background-color: #FFFFFF;
  height: auto;
  padding: 5px;
  border-radius: 15px;
  margin-left: 5px;
  padding-top: 2px;
  flex: 0 0 50vw;
  scroll-snap-align: start;
}
.trustpilotSection .reviewSection .reviewContainer .gridReview {
  display: grid;
  grid-template-columns: auto 1fr auto;
  grid-template-rows: 20px auto;
  -moz-column-gap: 10px;
       column-gap: 10px;
  row-gap: 5px;
  grid-template-areas: "pfp user logo" "pfp date logo";
}
.trustpilotSection .reviewSection .reviewContainer .gridReview .pfpReview {
  grid-area: pfp;
  width: 45px;
  height: 45px;
  align-self: center;
  border-radius: 50px;
  margin-top: 5px;
}
.trustpilotSection .reviewSection .reviewContainer .gridReview h4 {
  grid-area: user;
  font-size: 1rem;
  align-self: start;
  justify-self: start;
  font-family: "Afacad", sans-serif;
  line-height: 1.1;
  min-width: 0;
  max-width: 120px;
  white-space: nowrap;
  overflow: hidden;
}
.trustpilotSection .reviewSection .reviewContainer .gridReview p {
  grid-area: date;
  font-size: 0.9rem;
  align-self: start;
  justify-self: start;
  font-family: "Afacad", sans-serif;
}
.trustpilotSection .reviewSection .reviewContainer .gridReview .tpLogo {
  grid-area: logo;
  width: 40px;
  height: 40px;
  align-self: center;
  justify-self: end;
}
.trustpilotSection .reviewSection .reviewContainer .starRating {
  width: 20vw;
  margin-left: 8px;
}
.trustpilotSection .reviewSection .reviewContainer .review {
  margin: 8px;
  font-family: "Afacad", sans-serif;
  font-size: 1rem;
  font-weight: 400;
}

@media all and (min-width: 600px) {
  .trustpilotSection .reviewSection .duplicate {
    display: block;
  }
  .trustpilotSection .reviewSection .reviewContainer {
    flex: 0 0 13vw;
    padding: 1.2vw;
  }
  .trustpilotSection .reviewSection .reviewContainer .starRating {
    width: 5vw;
  }
  .trustpilotSection .reviewSection .reviewContainer .gridReview .tpLogo {
    grid-area: logo;
    width: 40px;
    height: 40px;
    align-self: center;
    justify-self: end;
  }
  .logoTitle {
    position: relative;
    top: 10%;
    right: -5%;
  }
  .reviewSection {
    overflow: hidden;
  }
  .reviewSection .reviewAnimation {
    display: flex;
    gap: 5px;
    animation: scrollRight 30s linear infinite;
  }
  @keyframes scrollRight {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0);
    }
  }
}
.h3important {
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
  font-size: 1.4rem;
  margin-top: 10px;
  justify-content: start;
  margin-left: 14px;
  margin-bottom: 4px;
}

.flexContainer {
  display: flex;
  justify-content: space-around;
}
.flexContainer .seperateSpan {
  display: none;
}
.flexContainer nav {
  cursor: pointer;
}
.flexContainer nav .infoText {
  display: none;
}
.flexContainer nav img {
  /**/
}
.flexContainer nav h5 {
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT*/
  text-align: center;
  font-size: 1.15rem;
  margin: 0;
  margin-top: -1vh;
}
.flexContainer nav p {
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 550;
  font-style: normal;
  /* FONT*/
  text-align: center;
  margin: 0px;
  font-size: 1rem;
  color: #575757;
}
.flexContainer nav p:hover {
  color: black;
}

.memberAd {
  height: 35vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 20px 20px 0px 0px;
  position: relative;
}
.memberAd .memberH3 {
  text-align: center;
  justify-content: center;
  font-size: 1.6rem;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
  /* FONT*/
  padding: 18px;
  background-color: #0B1C3A;
  color: #FFFFFF;
  border-radius: 20px 20px 0px 0px;
}
.memberAd {
  background-image: url("/bilder2/memberSuvCar.png");
}
.memberAd .memberMoreButton {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 50px;
  text-align: center;
  border-radius: 30px;
  background-color: #007A7A;
  color: #FFFFFF;
  font-size: 1.3rem;
  border-color: #FFFFFF;
  border: 1.3px white solid;
  /*FONT*/
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 250;
  font-style: normal;
  /* FONT*/
  width: 52vw;
  text-decoration: none;
  line-height: 2.2;
}
.memberAd .memberMoreButton a {
  color: #FFFFFF;
}
.memberAd .memberContainer ul li {
  display: none;
}
.memberAd .memberContainer p {
  display: none;
}

@media all and (min-width: 600px) {
  .h3important {
    font-size: 1.4rem;
    margin-top: 20px;
    justify-content: start;
    margin-left: 20px;
    margin-bottom: 3vh;
  }
  .flexContainer {
    display: flex;
    flex-direction: row;
    gap: 2vw;
    justify-content: center;
  }
  .flexContainer .seperateSpan {
    background-color: #575757;
    width: 2px;
    height: 15vh;
    display: inline-block;
    border-radius: 50px;
    color: rgba(255, 255, 255, 0);
  }
  .flexContainer {
    width: 80vw;
    margin: auto;
  }
  .flexContainer nav {
    display: grid;
    grid-template-columns: 7vw 20vw;
    grid-template-rows: auto auto;
    grid-template-areas: "img title" "img text" "img more";
    gap: 12px;
    align-items: start;
  }
  .flexContainer nav img {
    grid-area: img;
    width: 7vw;
    height: auto;
  }
  .flexContainer nav h5 {
    grid-area: title;
    margin: 0;
    text-align: left;
  }
  .flexContainer nav p {
    grid-area: more;
  }
  .flexContainer nav .infoText {
    display: block;
    grid-area: text;
    margin: 0;
    font-size: 0.95rem;
    color: #575757;
  }
  .memberAd {
    margin-top: 5vh;
    position: relative;
    height: 45vh;
    border-radius: 20px;
    overflow: hidden;
    background: none;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas: "info image";
    border-radius: 25px 0px 0px 0px;
  }
  .memberAd .memberContainer {
    background-color: #0B1C3A;
    border-radius: 25px 0px 0px 0px;
    grid-area: info;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15vh 15vh 15vh;
    grid-template-areas: "title" "text" "price";
    height: 100%;
    color: white;
  }
  .memberAd .memberContainer .memberH3 {
    grid-area: title;
    margin-top: 3vh;
    font-size: 2rem;
    height: 12vh;
  }
  .memberAd .memberContainer .textList {
    grid-area: text;
    list-style: circle;
    margin: auto;
    font-size: 1.5rem;
    font-family: "Afacad", sans-serif;
    font-weight: 400;
  }
  .memberAd .memberContainer .textList li {
    display: list-item;
  }
  .memberAd .memberContainer p {
    grid-area: price;
    margin-left: 2vw;
    margin-top: 8vh;
    font-weight: 600;
    font-size: 1rem;
    font-family: "Afacad", sans-serif;
    font-weight: 400;
    display: block;
  }
  .memberAd .memberImage {
    grid-area: image;
    border-radius: 0px 25px 0px 0px;
    background-image: url("/bilder2/memberSuvCar.png");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
  .memberAd .memberMoreButton {
    position: absolute;
    bottom: 3%;
    left: 87%;
    height: 5.2vh;
    border: 1.3px white solid;
    border-radius: 50px;
    width: 20vw;
    background-color: #007A7A;
    color: #FFFFFF;
    font-size: 1.4rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
  }
}
footer {
  background-color: #0B1C3A;
  position: relative;
}
footer .logoFooter {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  color: #FFFFFF;
  height: 5vh;
  width: auto;
}
footer .footerDetail {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #007A7A;
}
footer .trustPilotInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-top: 0px;
  color: #FFFFFF;
  height: 4vh;
  position: absolute;
  right: 2%;
  top: 2%;
}
footer .trustPilotInfo img {
  height: 2.5vh;
  width: auto;
}
footer .trustPilotInfo h6 {
  /* FONT */
  font-family: "Afacad", sans-serif;
  /* FONT */
  font-weight: 300;
  font-size: 0.9rem;
}
footer .footerLinks {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  color: #FFFFFF;
}
footer .footerLinks nav h4 {
  margin: 8px;
  font-size: 1.6rem;
  /* FONT */
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT */
}
footer .footerLinks nav p {
  /* FONT */
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT */
  font-size: 1.2rem;
  color: #c5c5c5;
}
footer .footerLinks nav p a {
  text-decoration: none;
  color: #c5c5c5;
}
footer .footerLinks nav p a:hover {
  color: #FFFFFF;
}
footer .footerLinks nav p:hover {
  color: #FFFFFF;
  cursor: pointer;
}
footer .seperateSpanFooter {
  display: block;
  height: 2px;
  width: 80%;
  background-color: white;
  margin: auto;
}
footer .extraLinksBottom {
  display: flex;
  justify-content: center;
  gap: 20px;
  color: #FFFFFF;
  height: 5vh;
}
footer .extraLinksBottom p {
  /* FONT */
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT */
  font-size: 18px;
  color: #c5c5c5;
}
footer .extraLinksBottom p:hover {
  color: #FFFFFF;
  cursor: pointer;
}
footer .footerDetail2 {
  display: block;
  height: 3px;
  width: 100%;
  background-color: #007A7A;
  margin-top: 10px;
}
footer .copyRightText {
  text-align: left;
  margin: 0px;
  font-size: 16px;
  padding: 6px;
  background-color: #DEE3EB;
  color: #0B1C3A;
  /* FONT */
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
  /* FONT */
}

.titleOther {
  display: none;
}

@media all and (min-width: 600px) {
  footer .seperateSpanFooter {
    display: none;
  }
  footer .footerLinks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: auto;
    align-items: start;
    text-align: center;
  }
  footer .footerLinks nav {
    width: 100%;
  }
  footer .extraLinksBottom {
    position: absolute;
    top: 42%;
    right: 10%;
    transform: translateY(-50%);
    width: 26.6%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    gap: 0;
    height: auto;
  }
  footer .extraLinksBottom h4 {
    margin: 8px;
    font-size: 1.6rem;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
    color: #FFFFFF;
  }
  footer .extraLinksBottom p {
    margin: 8px;
    font-size: 1.2rem;
    color: #c5c5c5;
    font-family: "Afacad", sans-serif;
    font-optical-sizing: auto;
    font-weight: 10px;
    font-style: normal;
  }
  footer .extraLinksBottom p:hover {
    color: #FFFFFF;
    cursor: pointer;
  }
  footer .titleOther {
    display: block;
  }
}
:root {
  --bar-width: 50px;
  --bar-height: 8px;
  --hamburger-gap: 6px;
  --foreground: #014646;
  --background: white;
  --hamburger-margin: 8px;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
}

.hamburgerMenu {
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
  display: flex;
  flex-direction: column;
  gap: var(--hamburger-gap);
  position: absolute;
  width: -moz-max-content;
  width: max-content;
  top: 5px;
  left: 5px;
  z-index: 2;
  cursor: pointer;
}

.hamburgerMenu:has(input:checked) {
  --background: #333;
}

.hamburgerMenu:has(input:focus-visible)::before,
.hamburgerMenu:has(input:focus-visible)::after,
.hamburgerMenu input:focus-visible {
  border: 1px solid var(--background);
  box-shadow: 0 0 0 1px var(--foreground);
}

.hamburgerMenu::before,
.hamburgerMenu::after,
.hamburgerMenu input {
  content: "";
  width: var(--bar-width);
  height: var(--bar-height);
  background-color: var(--foreground);
  border-radius: 25px;
  transform-origin: left center;
  transition: opacity var(--animation-timing), width var(--animation-timing), rotate var(--animation-timing), translate var(--animation-timing), background-color var(--animation-timing);
}

.hamburgerMenu input {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}

.hamburgerMenu:has(input:checked)::before {
  rotate: 45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / -2);
}

.hamburgerMenu:has(input:checked)::after {
  rotate: -45deg;
  width: var(--x-width);
  translate: 0 calc(var(--bar-height) / 2);
}

.hamburgerMenu input:checked {
  opacity: 0;
  width: 0;
}

.sidebar {
  position: absolute;
  top: 100%;
  left: 0.5%;
  width: 98%;
  height: 0;
  overflow: hidden;
  background-color: var(--foreground);
  color: var(--background);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: height var(--animation-timing);
  z-index: 999;
  border-radius: 0px 0px 15px 15px;
  border: solid 1.5px white;
}

.sidebar ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
}

.hamburgerMenu:has(input:checked) + .sidebar {
  height: 40vh;
}

/* DECORATION */
.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.sidebar ul li {
  color: white;
  font-size: 3.4vh;
  overflow: hidden;
  margin: 0px;
  font-family: "Afacad", sans-serif;
  font-optical-sizing: auto;
  font-weight: 10px;
  font-style: normal;
}
.sidebar ul li a {
  text-decoration: none;
  color: rgb(211, 210, 210);
}
.sidebar ul li a:hover {
  color: white;
}
.sidebar ul .spanStroke {
  display: block;
  height: 2px;
  width: 90%;
  background-color: rgba(255, 255, 255, 0.3);
  margin: 0px auto;
  opacity: 0.9;
}

header {
  margin-bottom: 68px;
}

/* FONT */
/*
        font-family: "Afacad", sans-serif;
        font-optical-sizing: auto;
        font-weight: 10px;
        font-style: normal;
*/
@font-face {
  font-family: "Noto Sans Thai Variable";
  font-style: normal;
  font-display: swap;
  font-weight: 100 900;
  src: url(@fontsource-variable/noto-sans-thai/files/noto-sans-thai-latin-wght-normal.woff2) format("woff2-variations");
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* FONT */
/*    font-family: 'Noto Sans Thai Variable', sans-serif;
/* FONT *//*# sourceMappingURL=main.css.map */